.signup-container {
    text-align: center;
    background:black;
    animation: introfade1 1.1s ease-in reverse;
}

@keyframes introfade1 { 
    from {opacity:100%}
    to {opacity:0%;}
}


.signup-content {
    background: #0e0e0e;
    border-radius: 1px;
    width: 500px;
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;    
    padding: 50px;
    box-shadow: 0 0 2px rgba(124, 124, 124, 0.07), 
                0 0 4px rgba(124, 124, 124, 0.07), 
                0 0 8px rgba(124, 124, 124, 0.07), 
                0 0 16px rgba(124, 124, 124, 0.07),
                0 0 32px rgba(124, 124, 124, 0.07), 
                0 0 64px rgba(124, 124, 124, 0.07);
}

.social-btn {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}

.social-btn img {
    height: 32px;
    float: left;
    margin-top: 10px;
}

.social-btn.google {
    margin-top: 7px;
}

.social-btn.facebook img {
    height: 24px;
    margin-left: 3px;
}

.social-btn.github img {
    height: 24px;
    margin-left: 3px;
}

.login-link {
    color: aqua;
    font-size: 14px;
}

.signup-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color:rgb(18, 163, 182);
}