.home-container {
    text-align: center;
    min-height: 100vh;
    overflow:auto;
    position: relative;
    
    background: #000;
    background-image: url(./lavatestgif.gif);
    background-repeat: no-repeat;
    background-position:center;
    height:500px;
    color:#fff;
    background-color:#000;
    background-size:50%;
    padding: 0 8%;
    transform: translateY(-100px);
}
.lava-title {
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family:'Poppins-Bold';
    font-size:70px;
    margin-top:13%; 
    text-align:left;
    margin-left:10%;
    
}
.home-titles {
    text-align:left;
}
.home-title1 {
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family:'Poppins-Bold';
    font-size:60px; 
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border-right: transparent;
    animation: typing1 1s steps(2,end) forwards alternate;
    animation-delay: 300ms;
}
.home-title2 {
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family:'Poppins-Bold';
    font-size:60px; 
    white-space: nowrap;
    overflow:hidden;
    width: 0;
    animation: typing2 1.4s steps(3,end) forwards alternate;
    animation-delay: 400ms;
    border-right: .1em solid transparent;
}
.home-title3 {
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family:'Poppins-Bold';
    font-size:60px; 
    overflow:hidden;
    white-space: nowrap;
    width: 0;
    border-right: transparent;
    animation: typing3 1.1s steps(2,end) forwards alternate;
    animation-delay: 700ms;
}

.home-title-container {
    display:inline-block;
    width:100%;
}
.white-space {
    color:#000;
}

@keyframes typing1 {
    0% {margin-left: 3%;width: 3%; border-right: .1em solid rgb(156, 48, 71);}
    20% {margin-left: 4%;width: 6%; border-right: .1em solid rgb(156, 48, 71);}
    40% {margin-left: 5%;width: 9%;border-right: .1em solid rgb(156, 48, 71);}
    60% {margin-left: 5%;width: 12%;border-right: .1em solid rgb(156, 48, 71);}
    80% {margin-left: 5%;width: 15%;border-right: .1em solid rgb(156, 48, 71);}
    100% {margin-left: 5%;width: 18%;border-right: .1em solid rgb(156, 48, 71);}
    100% {}
}
@keyframes typing2 {
    0% {margin-left: 2%;width: 5%; border-right: .1em solid rgb(156, 48, 71);}
    20% {margin-left: 3%;width: 10%;border-right: .1em solid rgb(156, 48, 71);}
    40% {margin-left: 4%;width: 16%;border-right: .1em solid rgb(156, 48, 71);}
    60% {margin-left: 5%;width: 19%;border-right: .1em solid rgb(156, 48, 71);}
    80% {margin-left: 5%;width: 23%;border-right: .1em solid rgb(156, 48, 71);}
    100% {margin-left: 5%;width: 28%;border-right: .1em solid rgb(156, 48, 71);}
    100% {}
}
@keyframes typing3 {
    0% {margin-left: 1%;width: 3%;border-right: .1em solid rgb(156, 48, 71);}
    20% {margin-left: 2%;width: 5%;border-right: .1em solid rgb(156, 48, 71);}
    40% {margin-left: 3%;width: 8%;border-right: .1em solid rgb(156, 48, 71);}
    60% {margin-left: 4%;width: 11%;border-right: .1em solid rgb(156, 48, 71);}
    80% {margin-left: 5%;width: 13%;border-right: .1em solid rgb(156, 48, 71);}
    100% {margin-left: 5%;width: 15%;border-right: .1em solid rgb(156, 48, 71);}
    100% {}
}
.container { 
    min-height: fit-content;
}
.lavagif {
    overflow:hidden;  
}
.explore-button {
    background:#393939;
    border: 0;
    outline: none;
    padding: 15px 35px;
    color: #fff;
    margin-top: 50px;
    margin-left: 75px;
    font-weight:500;
    letter-spacing:1px;
    font-family:'Poppins-Bold';
    cursor:pointer;
}

.explore-button:hover {
    transform: scale(1.01);
}
.graf-bg-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    perspective: 2000px;
    opacity: 0.7;
    background: transparent;
}

.graf-layout {
    height: 100%;
    margin: auto;
    position: relative;
    perspective: 2000px;
}

.graf-circle:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(1000deg) rotateX(1000deg) rotate(0deg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #2098f3;
    animation: scaleOne 5.5s infinite alternate linear;
    opacity: 0
}

@keyframes scaleOne {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateY(180deg) rotateX(90deg) rotate(1000deg);
        opacity: 0
    }
}

.graf-circle:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(135deg) rotateY(135deg) rotate(0deg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #ff4f0a;
    border-left: none;
    border-top: none;
    animation: scaleTwo 5s infinite alternate linear
}

@keyframes scaleTwo {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateX(135deg) rotateY(135deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(45deg) rotateY(45deg) rotate(0deg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #ec412c;
    border-bottom: none;
    border-left: none;
    animation: scaleThree 4.5s infinite alternate linear
}

@keyframes scaleThree {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateX(45deg) rotateY(45deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(4) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(45deg) rotate(0deg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #fcbd00;
    border-top: none;
    border-right: none;
    animation: scaleFour 4s infinite alternate linear
}

@keyframes scaleFour {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateX(45deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(5) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(135deg) rotate(0deg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #2da94f;
    border-bottom: none;
    border-left: none;
    animation: scaleFive 3.5s infinite alternate linear
}

@keyframes scaleFive {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateX(135deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(6) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(100deg) rotate(0deg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 15px solid #f57700;
    border-bottom: none;
    border-right: none;
    animation: scaleSix 3s infinite alternate linear
}

@keyframes scaleSix {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateX(100deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(7) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(-105deg) rotate(0deg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #2098f3;
    border-bottom: none;
    border-left: none;
    animation: scaleSeven 2.5s infinite alternate linear
}

@keyframes scaleSeven {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateY(-105deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(8) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(45deg) rotateX(45deg) rotate(0deg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #30bbb0;
    border-bottom: none;
    border-left: none;
    animation: scaleEight 2s infinite alternate linear
}

@keyframes scaleEight {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateY(45deg) rotateX(45deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(9) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(135deg) rotateX(135deg) rotate(0deg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #ff453c;
    border-bottom: none;
    border-right: none;
    animation: scaleNine 1.5s infinite alternate linear
}

@keyframes scaleNine {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateY(135deg) rotateX(135deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(10) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(113deg) rotateX(115deg) rotate(0deg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #2098f3;
    border-bottom: none;
    border-right: none;
    animation: scaleTen 3s infinite alternate linear
}

@keyframes scaleTen {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateY(113deg) rotateX(115deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(11) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(-45deg) rotateY(-45deg) rotate(0deg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #2098f3;
    border-bottom: none;
    border-right: none;
    animation: scaleEleven 2s infinite alternate linear
}

@keyframes scaleEleven {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateX(-45deg) rotateY(-45deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(12) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(-45deg) rotateY(-45deg) rotate(0deg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid purple;
    border-bottom: none;
    border-right: none;
    animation: scaleTwelve 2s infinite alternate linear
}

@keyframes scaleTwelve {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateX(-190deg) rotateY(-130deg) rotate(1turn);
        opacity: 0
    }
}