.head { 
    color : white;
    text-align: center;
    background-color: rgb(255, 183, 50);
    margin: auto;
    width: 40%;
    min-width: 400px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.filter-total {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}


.form-total { 
    text-align: center;
    height: 200px;
    position: sticky;
    top: 0;
}

.form-box{ 
    color: black; 
    width: 40%;
    margin: auto;
    background-color: rgb(231, 231, 231);
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width: 400px;
    
}

.sub-button { 
    text-align: center;
    border: 2px solid orange;
    background-color: rgb(255, 183, 50);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.sub-button:hover {
    cursor: pointer;
    background-color: darkorange;
    transform: scale(0.97)
}

.suggested {
    color : white;
    text-align: center;
    background-color: rgb(255, 183, 50);
    margin: auto;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

.all-card {
    text-align: center;
    min-width: 400px;
    color: black;
    width: 60%;
    
}

.subtitle-filter {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.select { 
    margin: auto;
    width: 80%;
    border: 1px solid gray;
    border-radius: 5px;
}

.card { 
    background: white;
    padding: 20px;
    display: flex;
    width: 50%;
    height: 130px;
    overflow: hidden;
    justify-content: center;
    transition: width 1s, height 1s, transform 1s;
    margin: 0 auto;
    
}

.card:hover {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    background-image: radial-gradient(orange, white 100%);
}

.input-box-filter {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 80%;
}

.friend-button {
    border: 2px solid orange;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
}

.profile-button {
    border: 2px solid orange;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
}

.profile-button:hover {
    cursor: pointer;
    background-color: darkorange;
    transform: scale(0.97)
}

.friend-button:hover {
    cursor: pointer;
    background-color: darkorange;
    transform: scale(0.97)
}

.profile-filter-img {
    text-align:center;
    max-width: 50px;
}

.name-in-suggested { 
    position: relative;
}
