/* how do i make the columns have space in between them?*/

.column{
    float: left;
    background-color: #eaebee;
    padding: 10px;
    margin:50px auto;
    width: 600px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.row{
    padding: 25px 50px 75px 100px;
}
