/* how do i make the columns have space in between them?*/

.column-left{
    background-color: #eaebee;
    padding: 10px;
    min-height: 600px;
    border-top-left-radius: 20px;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    min-width: 400px;
    margin-left: 15%;
}

.column-right{
    background-color: #eaebee;
    padding: 10px;
    min-height: 600px;
    border-top-right-radius: 20px;
    border-left: black 2px solid;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    min-width: 400px;
    margin-right: 15%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.row{
    padding: 50px 50px 100px 100px;
    align-items: center;
    
}
.dropdown{
    display:flex;
    margin: auto;
}
/* Dropdown Button */
.dropbtn {
    color: black;
    padding: 12px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    font-weight:bold;
    justify-content: center;
    align-items: center;
    margin:auto;
    border-radius: 10px;
}
.dropbtn:hover{
   color: darkgray;
}

.dropbtn.active{
    color:orange;

}


