.imagebox{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.image{
    width:80px;
    border-radius: 50%;
    background-color: white;
}
.friend{
    display:flex;
    height: 120px;
}
.friend:hover{
    background-color: darkgray;
}

.imagetext{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagetext h2{
    margin: 0px;
}
.name{
    text-transform: capitalize;
}

.remove-button {
    border: 2px solid red;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    margin-right: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    align-content: right;
}

.remove-button:hover {
    cursor: pointer;
    background-color: red;
    border: 2px solid darkred
}
