.imagebox{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.image{
    width:80px;
    border-radius: 50%;
    background-color: white;
}
.request{
    display:flex;
    height: 120px;
    transition: width 1s, height 1s, transform 1s;
    border-radius: 100px;
    justify-content:space-evenly;
}
.request:hover{
    width: 100%;
    border-radius: 10px;
    background-image: radial-gradient(orange, white 100%);
}

.imagetext{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagetext h1{
    margin: 0px;
}
.name{
    text-transform: capitalize;
}
