.overall-popup-outgoing {
    background: white;
    border: 5px rgb(255, 207, 119) solid;
    border-radius: 10px;
    background-color: rgb(255, 207, 119);
    position: 'fixed';
    margin: auto;
    min-height: 150px;
    width: 500px;
}

.overall-popup-incoming {
    background: white;
    border: 5px rgb(74, 201, 218) solid;
    border-radius: 10px;
    background-color: rgb(74, 201, 218);
    position: 'fixed';
    margin: auto;
    height: 150px;
    width: 600px;
}

.overall-popup {
    background: white;
    border: 5px lightgreen solid;
    border-radius: 10px;
    background-color: lightgreen;
    position: 'fixed';
    margin: auto;
    height: 150px;
    width: 600px;
}

.exit-but {
    float: right;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.exit-but:hover{ 
    cursor:pointer;
    transform:scale(1.01);
}

.remove-meet {
    background-color:indianred;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
}

.remove-meet:hover {
    cursor: pointer;
    transform:scale(0.95);
}

.accept-meet {
    background-color: rgb(5, 158, 0);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
}

.accept-meet:hover {
    cursor: pointer;
}