.overall-popup-outgoing {
    background: white;
    border-radius: 10px;
    background-color: orange;
    position: fixed;
    margin: auto;
    min-height: 150px;
    min-width: 500px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.memo-popup {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.memo-popup-value {
    font-weight: bold;
    font-size: 16px;
    color: rgb(35, 22, 78);
}

.overall-popup-incoming {
    background: white;
    border-radius: 10px;
    background-color: #9854fd;
    position: fixed;
    margin: auto;
    min-height: 150px;
    min-width: 500px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overall-popup {
    background: white;
    border-radius: 10px;
    background-color: lightgreen;
    position: fixed;
    margin: auto;
    min-height: 150px;
    min-width: 500px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.exit-but {
    float: right;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.exit-but:hover{ 
    cursor:pointer;
    transform:scale(1.01);
}

.remove-meet {
    background-color:indianred;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.remove-meet:hover {
    cursor: pointer;
    transform:scale(0.95);
}

.meeting-person {
    color: rgba(255, 255, 255, 0.883);
    font-size: 24px;
}

.accept-meet {
    background-color: rgb(5, 158, 0);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.accept-meet:hover {
    cursor: pointer;
    transform:scale(0.95);
}