.imagebox{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.image{
    width:80px;
    border-radius: 50%;
    background-color: white;
}
.request{
    display:flex;
}
.request:hover{
    background-color: darkgray;
}

.imagetext{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagetext h1{
    margin: 0px;
}
.name{
    text-transform: capitalize;
}