.s-alert-box {
    min-width: 250px;
}

.s-alert-close::before, .s-alert-close::after {
    width: 2px;
}

.app { 
    background:#121212;
}

.app-body { 
    background:black;
}

.tmp-cal {
    background:white;
}